short_open_tag = On
date.timezone = UTC
error_log = /proc/self/fd/2
upload_max_filesize = 2000M
post_max_size = 2000M
max_input_vars = 2048

; xdebug.mode=debug,coverage,trace
; xdebug.client_host=php.docker.internal
; xdebug.discover_client_host=1
; xdebug.client_port=9003
; xdebug.remote_handler=dbgp
; xdebug.start_with_request=no
; xdebug.idekey=VSCODE
; xdebug.log=/var/www/html/wwwroot/xdebug.log


memory_limit = -1
max_execution_time = 18000
max_input_time = 18000
pm.max_requests = 500